*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100vw;
  // height: 100vh;
  padding: 0.8em 1em;
  overflow-x: hidden;
}
canvas {
  display: block;
  box-shadow: 0px 0px 20px rgb(241, 110, 163);
}

.sliders-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliders-title {
  width: 80%;
  padding: 1em;
  padding-top: 0;

  h1 {
    font-weight: 400;
    font-size: 2.5rem;
  }

  h5 {
    font-weight: 300;
    font-size: 1rem;
  }
}

.slider-wrapper {
  width: 80%;
  padding: 1em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #333;

  label {
    font-size: 1rem;
  }

  span {
    font-weight: 500;
  }
}

.slider {
  width: 100%;
}

@media (max-width: 1250px) {
  body {
    flex-direction: column-reverse;
    align-items: center;
  }

  canvas {
    margin: 0 auto;
  }

  .sliders-container {
    width: 80%;
  }

  .sliders-title {
    text-align: center;
    h1 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .slider-wrapper {
    align-items: center;
    label {
      font-size: 0.9rem;
    }
  }
}
